
<!doctype html>
<html>
<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./mdb/js/mdb.min.js"></script>
  <link href="./mdb/css/mdb.min.css" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />

  
    <title>Algo-Rhythm</title>
</head>
<body id="bg">

  <div class="bg-image" style="
        background-image: linear-gradient(rgb(0, 0, 0), rgb(37, 37, 37));
        height: 100vh;
      ">
      <!-- Navbar -->
  <!-- Container wrapper -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-top">
    <div class="container-fluid">
      <!-- Toggle button -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img src="https://i.pinimg.com/474x/1e/9d/c2/1e9dc24db36c9226da76585bd0314b19.jpg" height="40" alt=""
          loading="lazy"/>
      </a>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        </div>
        </div>
  </nav>

  <!-- Navbar -->
<div class="container d-flex align-items-center justify-content-center" style="height:75vh;">
  <div class="jumbotron text-center" style="color:white">
    <img src="https://i.ibb.co/6nNgfsZ/image.png" style="height:275px;width:700px">

        <br>
        <a href="/auth/google" class="btn btn-outline-warning"><span class="fab fa-google"></span> SignIn with Google</a>
    </div>
</div>
</div>
</body>
</html> 