<!DOCTYPE html>
<html>
<body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="main.js"></script>

<h1>Upload song</h1>
<form>
  <label for="sname">Song name : </label><br>
  <input type="text" id="sname" value="">
  <input type="file" id="file1" name="Song">
  <br><br>
  <button type="button" onclick="upload()">Upload</button>
</form>

</body>
</html>