<!DOCTYPE html>
<html>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<body onload="showpl()">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="library.js"></script>
<!-- <h1>Play song by name</h1>
<input type="text" id="sname" value="">
<button onclick="play()">Play</button>
<button onclick="pause()">Pause</button>
<button onclick="resume()">Resume</button>
<p  id="load"> -->

</p>
<br>
<p  id="body">
    
    <p id="email" hidden><%=email%></p>

    <table style="width:100%">
        <thead>
            <tr>
                <th>Playlist Name</th>
                <th>Songs</th>
            </tr>
        </thead>
        <tbody id="pls">

        </tbody>
    </table>
</p>

</body>
</html>