<!DOCTYPE html>
<html>
<body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="psong.js"></script>
<h1>Play song by name</h1>
<input type="text" id="sname" value="">
<button onclick="play()">Play</button>
<p  id="load">

</p>
<br>
<p  id="body">

</p>


</body>
</html>