<!DOCTYPE html>
<html>
<body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="psong.js"></script>
<h1>Play song by name</h1>
<input type="text" id="sname" value="">
<button onclick="play()">Play</button>
<p  id="load">

</p>
<br>
<p  id="body">
    <button onclick="add()">Add to Playlist</button>
    <div class="container" name="playlists"></div>
</p>
<input type="range" id="volume1" min="0" max="2" value="1" step="0.01">

</body>
</html>